src/config/zfcp.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace config = "http://www.suse.com/1.0/configns"


zfcp = element zfcp {
    element devices {
        LIST,
        element listentry {
            element controller_id { text }? &
            element fcp_lun       { text }? &
            element wwpn          { text }?
        }*
    }?
}

